.technology-admin {
  margin-top: 120px;
  @media #{$xs} {
    margin-top: 60px;
  }
  .technology-image {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    top: 0;
    width: 100%;
    &:hover > img {
      @include transform(scale(1.1));
    }
    img {
      width: 100%;
      height: 400px;
      object-fit: cover;
      @include transform(scale(1));
      transition: all 0.5s ease-out 0s;
    }
    @media #{$xs} {
      display: none;
    }
  }
  &-title {
    position: relative;
    &::after {
      position: absolute;
      content: " ";
      width: 150px;
      height: 50px;
      right: 2%;
      top: -5%;
      border-right: 6px solid $theme-color;
      border-top: 8px solid $theme-color;
      @include transition(0.6s);
      @media #{$xs} {
        display: none;
      }
    }
    &:hover::after {
      width: 95%;
      height: 0;
      border-top: 2px solid $theme-color;
    }
  }

  &-description {
    &-1,
    &-2,
    &-3,
    &-4 {
      display: flex;
      i {
        padding: 15px;
        @media #{$xs} {
          padding-left: 0;
        }
      }
    }
  }
}

.technology-key {
  margin-top: 120px;
  position: relative;
  .container {
    position: absolute;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  @media #{$xs} {
    margin-top: 60px;
    max-height: 650px;
  }
  .technology-key-video {
    width: 100%;
    video {
      width: 100%;
    }
  }
  .technology-key-content {
    position: absolute;
    padding: 30px;
    background-color: #ffffffe0;
    width: 500px;
    top: 0;
    left: 0;
    border-radius: 6px;
    p {
      text-align: justify;
    }
    @media #{$xs} {
      position: static;
      width: 100%;
      margin-top: 250px;
      padding: 0;
    }
    &::before {
      content: "";
      position: absolute;
      width: 200px;
      height: 100px;
      border-top: 8px solid $theme-color;
      border-left: 6px solid $theme-color;
      left: -6%;
      top: -6%;
      @include transition(0.6s);
      @media #{$xs} {
        display: none;
      }
    }

    &::after {
      content: "";
      position: absolute;
      width: 200px;
      height: 100px;
      border-bottom: 8px solid $theme-color;
      border-right: 6px solid $theme-color;
      right: -6%;
      bottom: -6%;
      @include transition(0.6s);
      @media #{$xs} {
        display: none;
      }
    }
    &:hover::before {
      width: 100px;
      height: 200px;
    }
    &:hover::after {
      width: 100px;
      height: 200px;
    }
  }
}

.product-managerment {
  padding-top: 120px;
  .product-managerment-content {
    .product-managerment-title {
      background-color: #8bafeb;
      padding: 90px 30px;
      max-height: 400px;
      border-radius: 6px;
      &::after {
        position: absolute;
        content: " ";
        top: 0;
        right: 15px;
        width: 0;
        height: 100%;
        border-right: 5px solid $theme-color;
        border-radius: 6px;
        @include transition(0.6s);
      }
      &:hover::after {
        height: 0;
        width: 95%;
        border-top: 8px solid $theme-color;
      }
    }

    .product-managerment-image {
      overflow: hidden;
      &:hover > img {
        @include transform(scale(1.1));
      }
      img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        @include transform(scale(1));
        transition: all 0.5s ease-out 0s;
      }
    }

    .product-managerment-desscription {
      position: relative;
      left: 3%;
      top: 70%;
      color: #fff;
      &-1,
      &-2 {
        display: flex;
        p {
          color: #fff;
        }
        i {
          color: #fff;
          padding-right: 15px;
          padding-top: 15px;
        }
      }
    }
  }
}

.system-manager {
  margin-top: 120px;
  &-content {
    background-color: #fff;
    &-image {
      top: 100px;
      margin-left: 0;
      overflow: hidden;
      &:hover > img {
        @include transform(scale(1.1));
      }
      img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        @include transform(scale(1));
        transition: all 0.5s ease-out 0s;
      }
    }
    .system-manager-title {
      background-color: #8bafeb;
      color: #fff;
      border-radius: 6px;
      padding: 30px;
      text-align: center;
      max-height: 400px;
      &::after {
        position: absolute;
        content: " ";
        top: 0;
        right: 15px;
        width: 0;
        height: 100%;
        border-right: 5px solid $theme-color;
        border-radius: 6px;
        @include transition(0.6s);
      }
      &:hover::after {
        height: 0;
        width: 95%;
        border-top: 8px solid $theme-color;
      }

      .system-manager-description {
        p {
          color: #fff;
        }
        &-1,
        &-2,
        &-3,
        &-4,
        &-5 {
          display: flex;
          text-align: justify;
          i {
            padding-right: 15px;
            padding-top: 15px;
          }
        }
      }
    }
  }
}

.work-managerment {
  position: relative;
  margin-top: 120px;
  height: 500px;
  background: #8bafeb;
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &-title {
    position: relative;
    text-align: center;
    &::before {
      content: " ";
      position: absolute;
      width: 150px;
      height: 50px;
      border-top: 8px solid $theme-color;
      border-left: 6px solid $theme-color;
      top: -5%;
      left: 0;
      @include transition(0.6s);
    }
    &:hover::before {
      width: 100%;
      height: 0;
      border-top: 2px solid $theme-color;
    }
  }
  &-description {
    padding-right: 30px;
    &-1,
    &-2 {
      display: flex;
      text-align: justify;
      i {
        padding-right: 15px;
        padding-top: 15px;
      }
    }
  }

  &-image {
    overflow: hidden;
    &:hover > img {
      @include transform(scale(1.1));
    }
    img {
      width: 100%;
      height: 400px;
      @include transform(scale(1));
      transition: all 0.5s ease-out 0s;
    }
  }
}

.accounting-management {
  position: relative;
  height: 500px;
  padding-top: 120px;

  &-image {
    overflow: hidden;
    cursor: pointer;
    &:hover > img {
      @include transform(scale(1.1));
    }
    img {
      width: 100%;
      height: 400px;
      @include transform(scale(1));
      transition: all 0.5s ease-out 0s;
    }
  }
  &-title {
    text-align: center;
    padding: 70px 30px;
    background: #8bafeb;
    border-radius: 6px;
    min-height: 400px;
    &::after {
      content: " ";
      position: absolute;
      width: 0;
      height: 100%;
      border-top: 8px solid $theme-color;
      border-right: 6px solid $theme-color;
      top: 0;
      right: 15px;
      border-radius: 6px;
      @include transition(0.6s);
    }
    &:hover::after {
      width: 95%;
      height: 0;
      border-top: 8px solid $theme-color;
    }
  }

  &-description {
    &-1,
    &-2 {
      display: flex;
      text-align: justify;
      p {
        color: #fff;
      }
      i {
        color: #fff;
        padding-right: 15px;
        padding-top: 15px;
      }
    }
  }
}

.human-managerment {
  margin-top: 120px;
  position: relative;
  height: 500px;
  background-color: #8bafeb;
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &-content {
  }
  &-title {
    text-align: center;
    &::after {
      content: " ";
      position: absolute;
      width: 150px;
      height: 50px;
      border-top: 8px solid $theme-color;
      border-left: 6px solid $theme-color;
      top: -5%;
      left: 15px;
      @include transition(0.6s);
    }
    &:hover::after {
      width: 90%;
      height: 0;
      border-top: 2px solid $theme-color;
    }
  }
  &-description {
    padding-right: 30px;
    color: #fff;
    &-1,
    &-2,
    &-3,
    &-4 {
      p {
        color: #fff;
      }
      display: flex;
      text-align: justify;
      i {
        padding-right: 15px;
        padding-top: 15px;
      }
    }
  }

  &-image {
    overflow: hidden;
    cursor: pointer;
    &:hover > img {
      @include transform(scale(1.1));
    }
    img {
      width: 100%;
      height: 400px;
      @include transform(scale(1));
      transition: all 0.5s ease-out 0s;
    }
  }
}

.business-managerment {
  margin-top: 120px;
  position: relative;
  height: 500px;
  background: #8bafeb;
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &-content {
  }
  &-title {
    text-align: center;
    &::after {
      content: " ";
      position: absolute;
      width: 150px;
      height: 50px;
      border-top: 8px solid $theme-color;
      border-left: 6px solid $theme-color;
      top: -5%;
      left: 15px;
      @include transition(0.6s);
    }
    &:hover::after {
      width: 90%;
      height: 0;
      border-top: 2px solid $theme-color;
    }
  }
  &-description {
    padding-right: 30px;
    &-1,
    &-2,
    &-3,
    &-4 {
      display: flex;
      text-align: justify;
      i {
        padding-right: 15px;
        padding-top: 15px;
      }
    }
  }
  &-image {
    overflow: hidden;
    cursor: pointer;
    &:hover > img {
      @include transform(scale(1.1));
    }
    img {
      width: 100%;
      height: 400px;
      @include transform(scale(1));
      transition: all 0.5s ease-out 0s;
    }
  }
}

.form-register-smt {
  margin: 120px 0;
  .contact-form-wrapper {
    position: relative;
    &::after {
      position: absolute;
      content: " ";
      top: 18%;
      left: 10%;
      width: 0;
      border-top: 0;
      @include transition(0.6s);
    }
    &:hover::after {
      width: 80%;
      border-top: 3px solid $theme-color;
      border-radius: 6px;
    }
  }

  .submit-btn {
    position: relative;
    left: 0;
    animation: slidebg 6s infinite alternate;
    .btn-arrow {
      animation: changeColor 1s infinite alternate;
    }
  }
}
@keyframes slidebg {
  to {
    background-image: linear-gradient(90deg, #f5c0c0 0%, $theme-color 49%, $theme-color 80%, #f5c0c0 100%);
    background-position: 50vw;
    border: 0 !important;
  }
}

@keyframes changeColor {
  to {
    right: 0;
    color: #fff;
  }
}

