body {
  margin: 0rem;
}
#background {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  line-height: 1;
  background: linear-gradient(
    0.66turn,
    #87cdaa,
    #f3f5f6,
    #e9e4d1,
    #f2ab25,
    #ef3a28
  );
}
.card {
  position: absolute;
  width: 29%;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-align: center;
  background: #85858580;
}
header div.linecap {
  display: flex;
}
header div.linecap-left {
  width: 50%;
  height: 20px;
  background-color: #22adff;
}
header div.linecap-right {
  width: 50%;
  height: 20px;
  background-color: #0b2b3e;
}

.logo-img {
  width: 40%;
  height: 40%;
  object-fit: cover;
}
.logo-wrapper {
  background-color: #27719b38;
  height: 320px;
}

.description {
  margin-top: -10px;
}

header p.companyname {
  margin: 0;
  color: aliceblue;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 10px;
}
header p.company-description {
  margin: 0;
  color: aliceblue;
  font-weight: 300;
  font-size: 20px;
}

.wapper-info {
  display: flex;
  justify-content: space-between;
}

.name-wrapper {
  border-left: solid 1.2rem #389cd7;
  text-align: left;
  width: 70%;
}
.name-wrapper h1 {
  margin: 0 0 0.35rem 7px;
}
.name-wrapper p {
  margin: 0 0 0.35rem 7px;
}
.avatar {
  width: 30%;
}
.avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.infos {
  bottom: 5%;
  left: 5%;
}
.infos > div {
  display: flex;
  margin: 5px;
}
.infos > div svg {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  padding: 8px;
  border-radius: 7px;
  border-left: solid 0.5rem #417797;
  background: #1597e3;
  border-right: solid 0.2rem #d34e56;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.infos > div p {
  font-size: 0.9rem;
  margin: 5px 0;
  font-weight: 500;
  color: #ffffff;
  font-family: sans-serif;
}
.infos > div a {
  text-decoration: none;
  text-align: left;
}
footer div.linecap {
  display: flex;
}
footer div.linecap-left {
  width: 50%;
  height: 20px;
  background-color: #0b2b3e;
}
footer div.linecap-right {
  width: 50%;
  height: 20px;
  background-color: #22adff;
}
.card section {
  font-size: 40px;
  padding: 10px 1rem 0.5rem 20px;
  text-align: left;
}

#qrcode {
  padding: 20px 40px 20px 440px;
}
.icon {
  background-color: var(--red);
  border-radius: 50%;
  padding: 5px 4px 2px 15px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .card {
    width: 80%;
    height: 80%;
  }

  .logo-wrapper {
    height: 200px;
  }
  .logo-img {
    width: 40%;
    height: 40%;
  }
  .card section {
    font-size: 30px;
  }
  .wapper-q-code {
    display: flex;
    justify-content: end;
  }

  .qrcode {
    padding: 5px;
  }
  #qrcode {
    padding: 0;
  }
  .wapper-info {
    height: 80px;
  }
  .name-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .name-wrapper h1 {
    font-size: 23px;
  }
  .name-wrapper p {
    font-size: 20px;
  }
}
